.employee-list {
    padding: 20px;
  }
  h2{
    text-decoration: underline;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #979292;
  }
  
  td, th {
    padding: 10px;
    text-align: left;
    border: 1px solid #080808;
  }
  
  .username-col {
    background-color: #e4dfb2;
  }
  
  .email-col {
    background-color: #d8c29b;
  }
  
  .status-col.active {
    background-color: #7ebb80;
    color: white;
  }
  
  .status-col.inactive {
    background-color: #de655d;
    color: white;
  }
  
  .add-btn {
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #2f89e9;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .add-btn:hover {
    background-color: #0dd664;
  }
  
  .edit-btn {
    margin-right: 10px;
    color: #007bff;
    
  }
  
  .delete-btn {
    background-color: #ea1708;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 40px;
  }
  