.footer {
    background-color: #8c959f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0px;
  }
  
  .footer p {
    margin: 0;
  }  